
<div class="widget-box shadow-box">
	<div class="title">
		<h3><i class="fa fa-area-chart"></i> 热门用户</h3>
	</div>
	<ul id="hotuser" class="hotusers">

        <img src="$base/assets/images/spinner.gif">

	</ul>
</div>

<div class="widget-box shadow-box">
    <div class="title"><h3><i class="fa fa-tags"></i> 热门标签</h3></div>
    <ul class="tags m10" id="hottags" style="float: none;">
        <li class="text-center"><img src="$base/assets/images/spinner.gif"></li>
    </ul>
</div>
#if($!{site_advs_right} != "")
<div class="widget-box shadow-box">
    <div class="title">
        <h3><i class="fa fa-anchor"></i> 每日一句</h3>
    </div>
    <ul class="box-list" >
		$!{site_advs_right}
    </ul>

</div>
#end
<div class="widget-box shadow-box">
	<div class="title">
		<h3><i class="fa fa-area-chart"></i> 热门文章</h3>
	</div>
	<ul class="box-list" id="hots">
		<li class="text-center"><img src="$base/assets/images/spinner.gif"></li>
	</ul>
</div>

<div class="widget-box shadow-box">
	<div class="title">
		<h3><i class="fa fa-bars"></i> 最新发布</h3>
	</div>
	<ul class="box-list" id="latests">
        <li class="text-center"><img src="$base/assets/images/spinner.gif"></li>
	</ul>
</div>
<div class="widget-box shadow-box">
    <div class="title">
        <h3><i class="fa fa-coffee"></i> 看好文章,关注公众号</h3>
    </div>
    <img src="http://www.haowuyun.com/pics/qrcode_for_gh_weixin_gognzhonghao_12cm.jpg" style="width:238px;height: 238px"  />
</div>
<div class="widget-box shadow-box">
    <div class="title">
        <h3><i class="fa fa-android"></i> 手机客户端下载</h3>
    </div>
    <ul class="box-list" id="app">
        <li class="text-left">版本:1.1.2 </li>
        <li class="text-left"><a href="http://www.haowuyun.com/download/android_app.apk">点击下载</a></li>
        <li class="text-center">&nbsp;</li>
    </ul>
</div>
<div class="widget-box shadow-box">
    <div class="title">
        <h3><i class="fa fa-book"></i> 软件工程师买书,来这里</h3>
    </div>
    <img src="http://www.haowuyun.com/pics/weidian.jpg" style="width:238px;height: 312px"  />
</div>
<div class="widget-box shadow-box">
    <div class="title">
        <h3><i class="fa fa-star"></i> 关注官方新浪微博</h3>
    </div>
    <iframe width="100%" height="550" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=550&fansRow=2&ptype=1&speed=0&skin=1&isTitle=1&noborder=1&isWeibo=1&isFans=1&uid=5533072738&verifier=addeb0df&dpc=1"></iframe>
</div>


<script type="text/javascript">
var hot_li_template = '<li><div class="li-out"><span class="last"><i>{0}</i></span><span class="name"><a  href="{1}">{2}</a></span><span class="nums">{3}</span></div></li>'
var latest_li_template = '<li><div class="li-out"><span class="name"><a  href="{1}">{2}</a></span><span class="nums">{3}</span></div></li>'

var tag_li_template	= '<li class="mb6"><a href="$base/tag/{0}/" class="tag" title="有{1}篇文章">{2}</a></li>';

var hotUser_li_template = '<li class="img"><a  href="{1}"><img src="$base{0}" /></a></li>'

seajs.use('sidebox', function (sidebox) {
	sidebox.init({
        latestUrl : '$base/api/latests.json',
    	hotUrl : '$base/api/hots.json',
		hotTagUrl : '$base/api/hot_tags.json',
		hotUserUrl:'$base/api/Userfans.json',

    	maxResults :10,
        // callback
        onLoadHot : function (i, data) {
        	var url = '$base/view/' + data.id;
      		var item = jQuery.format(hot_li_template, i + 1, url, data.title, numberScale(data.views));
      		return item;
        },
        onLoadLatest : function (i, data) {
        	var url = '$base/view/' + data.id;
      		var item = jQuery.format(latest_li_template, i + 1, url, data.title, numberScale(data.views));
      		return item;
        },
		onLoadHotTag : function (i, data) {
      		var item = jQuery.format(tag_li_template, data.name, data.posts, data.name);
      		return item;
        },
        onLoadHotUser : function (i, data) {
        var url = '$base/ta/' + data.id;
      		var item = jQuery.format(hotUser_li_template,data.avatar,url,data.name, data.fans);
      		return item;
        }
	});
});
</script>

