#set($title="关于本站")

<div class="shadow-box">
	<h1 class="post-title">关于本站</h1>
	<div class="clearfix post-other">
		<span class="pull-left author">

		</span>
	</div>
	<div class="post-frame">
		<div class="post-content">
			<p><strong>关于LoveInBlog</strong><br/></p>
			<p>LoveInBlog(秋实网) &nbsp;&nbsp;是一个以轻内容为主的生活分享平台，我们主张轻量、极简；在这里你快速的找到你赶兴趣的内容。
				<ul>
			       <li>技术:这里你可以找到你想要的技术解决方案,最新技术动态</li>
			       <li>亲子:孕娩,育儿,亲子活动,蜜月生活,尽在亲子频道</li>
			       <li>问答:这是我们开放的模块,极具大家智慧,寻求解决方案</li>
			       <li>段子:生活中的调料包,累了困了就来这里,一起笑笑,一切随风而过</li>
			       <li>程序人生:如果计算机是你唯一的妻子,请找个小三吧,程序人生就是你的小三,来这里尽情倾诉你程序人生之路吧!有坎坷,有微笑,我们一起度过吧!</li>
		</ul></p>
			<p><strong>知识产权</strong><br/></p>
			<p>网站内容来自用户自行发起，或转载于互联网，如有涉及到版权问题，请告诉我们，我们将会对其进行删除处理</p>

			<p><strong>联系方式</strong><br/></p>
			<p>QQ群:252655480</p>
			<p> 官方QQ:417079087</p>
			<p> 官方微信公众号</p>
            <p> <img src="http://www.haowuyun.com/pics/qrcode_for_gh_weixin_gognzhonghao_12cm.jpg" style="width:200px;height: 200px"/></p>
		</div>
		<div class="post-footer">
		</div>
	</div>
</div>