#set($layout = "/default/layout/columns_view.vm")

#set($title=$!{ret.title})
#set($tags=$!{ret.tags})
#set($summary=$!{ret.summary})

<div class="shadow-box">
    <h1 class="post-title">$!{ret.title}</h1>
    <div class="clearfix post-other">
		<span class="pull-left author">
			<a class="author-name" href="$base/ta/${ret.author.id}" target="_blank">#showName(${ret.author})</a>
		</span>
        <time class="pull-left time">$date.format('yyyy-MM-dd', $ret.created)</time>
        <span class="pull-left time">浏览: ${ret.views}</span>
        <ul class="tags">
			#foreach($tag in $ret.tagsArray)
                <li>
                    <a class="tag tag-sm" href="$base/tag/${tag}/">$tag</a>
                </li>
			#end
        </ul>
        <span class="pull-right action-box"></span>
    </div>
    <div class="post-frame">
		#if($ret.albums)
            <div class="thumbs">
				#foreach($alb in $ret.albums)
                    <div class="single-post-media">
                        <a title="${ret.title}" href="#resource(${alb.original})">
							#if($att.store == 1)
                                <img src="$base/assets/images/spinner.gif" data-original="#resource(${alb.original})"/>
							#else
                                <img src="$base/assets/images/spinner.gif" data-original="#resource(${alb.original})"/>
							#end
                        </a>
                    </div><!-- .post-thumbnail -->
				#end
            </div>
		#end
        <div class="post-content">
			${ret.content}
            <br>
            <h4 class="h4">好书推荐: 《实战Gradle》 <a class="btn btn-success btn-xs" href="https://weidian.com/item.html?itemID=1974154738"  >去购买</a></h4>
            <h5>【图书简介】gradle作为下一代构建工具，将颠覆现有的ant构建模式，就像ant曾经颠覆maven的统治地位一样。</h5>
            <a href="https://weidian.com/item.html?itemID=1974154738">
            <img src="https://si.geilicdn.com/vshop750609382-1477209444695-3059F-s1.jpg?w=480&h=0" style="width: 447px;height: 447px" alt="实战 Gradle" />
            </a>
        </div>
        <div>

        </div>
        <div class="post-footer">
            <div class="tip">分享到：</div>
            <div class="shares">
                <!-- Share Button BEGIN -->
				#parse("/default/inc/share.vm")
                <!-- Share Button END -->
            </div>
        </div>
    </div>
</div>
<!-- post/end -->

#parse("/default/group/comments.vm")
<!-- ad slide 2016-08-01 21:35:35-->

<a data-type="13" data-tmpl="350x100" data-tmplid="212" data-rd="2" data-style="2" data-border="1" href="#"></a>

<!-- ad end -->
<script type="text/javascript">
    (function(win,doc){
        var s = doc.createElement("script"), h = doc.getElementsByTagName("head")[0];
        if (!win.alimamatk_show) {
            s.charset = "gbk";
            s.async = true;
            s.src = "http://a.alimama.cn/tkapi.js";
            h.insertBefore(s, h.firstChild);
        };
        var o = {
            pid: "mm_117545163_15334598_59050846",/*推广单元ID，用于区分不同的推广渠道*/
            appkey: "",/*通过TOP平台申请的appkey，设置后引导成交会关联appkey*/
            unid: "",/*自定义统计字段*/
            type: "click" /* click 组件的入口标志 （使用click组件必设）*/
        };
        win.alimamatk_onload = win.alimamatk_onload || [];
        win.alimamatk_onload.push(o);
    })(window,document);
</script>